name: aaltosulku
baseurl: /aaltosulku
permalink: none
pygments: true
prose:
rooturl: '_posts'
siteurl: 'http://OHKEY-dev.github.io'
metadata:
_posts:
- name: "layout"
field:
element: "text"
label: "Layout"
value: "post"
- name: "title"
field:
element: "text"
label: "Title"
value: ""
- name: "category"
field:
element: "text"
label: "Categrory"
value: ""
