


	<footer>
		<div class="rivi">
			<div class="ruutu-12-tablet">
				<div class="ruutu-6-tablet">
					<p class="p-footer">Nulla facilisi. Mauris sem mauris, fringilla quis molestie id, euismod in urna. Cras feugiat lorem vel velit malesuada, ut pretium sem viverra. Aenean a dapibus magna. Donec id dictum orci, a tristique lacus. Proin a tellus vel sem cursus mattis. Donec facilisis nibh vitae quam lobortis, sit amet bibendum ligula pulvinar. Proin commodo neque tortor, sed 
					</p>
				</div>
				<div class="ruutu-6-tablet">
					<div id="twitter"><a href="https://twitter.com/aaltosulku" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @aaltosulku</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
					</div>
				</div><!-- .ruutu-12-tablet -->
			</div><!-- .rivi -->
		</footer>

