	<div id="header-line"></div>
	<header>

		<div class="rivi">
			<div class="ruutu-2-tablet">
				<!-- Sijoitetaan logo sitten tähän jos siltä tuntuu <h4>LOGO</h4> -->
			 <img src="{{ site.baseurl }}/assets/media/aaltosulku_logo.svg" alt="aaltosulku.svg" />
			</div>
			<div class="ruutu-10-tablet">
				<nav class="ruutu-12-tablet">
					<ul>
						<li><a href="{{ site.baseurl }}/index.html">Etusivu</a></li>
						<li><a href="{{ site.baseurl }}/ohjeet.html">Ohjeet</a></li>
						<li><a href="{{ site.baseurl }}/yhteiso.html">Yhteisö</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

