@charset "UTF-8";
/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/
/* line 20, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-top: 15px solid tomato;
  /**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 30, ../compass/sass/aaltosulku.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 37, ../compass/sass/aaltosulku.scss */
::selection {
  background: tomato;
  /* Safari */
  color: white;
}

/* line 42, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: tomato;
  /* Firefox */
  color: white;
}

/* line 48, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 53, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 61, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 71, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 77, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 82, ../compass/sass/aaltosulku.scss */
a {
  color: tomato;
}

/* line 87, ../compass/sass/aaltosulku.scss */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  height: 200px;
  width: 100%;
  margin-top: -200px;
  clear: both;
  position: relative;
}

/* line 97, ../compass/sass/aaltosulku.scss */
header {
  height: 100px;
}

/* line 104, ../compass/sass/aaltosulku.scss */
.content-container {
  min-height: 100%;
  margin-bottom: -200px;
}

/* line 110, ../compass/sass/aaltosulku.scss */
.page-content:after {
  content: "";
  display: block;
  height: 200px;
}
