@charset "UTF-8";
@import url(Lindeman.css);
@import url(normalize.css);
@import url(ruutu.css);
@import url(tyyli.css);
/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/
/* line 27, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-top: 15px solid tomato;
  /**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 37, ../compass/sass/aaltosulku.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 44, ../compass/sass/aaltosulku.scss */
::selection {
  background: tomato;
  /* Safari */
  color: white;
}

/* line 49, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: tomato;
  /* Firefox */
  color: white;
}

/* line 55, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 60, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 72, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 82, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 88, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 93, ../compass/sass/aaltosulku.scss */
a {
  color: tomato;
}

/* line 98, ../compass/sass/aaltosulku.scss */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  height: auto;
  width: 100%;
  overflow: auto;
  clear: both;
}

/* line 109, ../compass/sass/aaltosulku.scss */
header {
  height: 100px;
}

/* line 120, ../compass/sass/aaltosulku.scss */
.page-content:after {
  content: "";
  display: block;
  height: 200px;
}

/** Ohjeet.html **/
/* line 138, ../compass/sass/aaltosulku.scss */
#toc .toc-title {
  font-size: 90%;
}

/* line 143, ../compass/sass/aaltosulku.scss */
section {
  border: none;
  padding: 0;
}

/* line 149, ../compass/sass/aaltosulku.scss */
.ruutu-12-tablet {
  padding-bottom: 0;
}

/*.footer-top {
	margin-top:60%;
	width:100%;
	}*/
/* line 160, ../compass/sass/aaltosulku.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 169, ../compass/sass/aaltosulku.scss */
.active {
  padding-left: 5%;
  background-color: tomato;
  border-radius: 2px 2px 2px 2px;
}
/* line 174, ../compass/sass/aaltosulku.scss */
.active a {
  color: white;
  text-shadow: 0 1px #cd3115;
  padding-right: 3px;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 188, ../compass/sass/aaltosulku.scss */
.active:after {
  content: "";
  color: white;
  float: right;
  border-top: 10px solid white;
  border-bottom: 11px solid white;
  border-left: 11px solid transparent;
}

/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
/* line 208, ../compass/sass/aaltosulku.scss */
.cat-sub {
  margin-left: 1.5%;
  margin-bottom: 7%;
  width: 85%;
}

/* line 214, ../compass/sass/aaltosulku.scss */
.cat-sub-title, .toc-title {
  text-transform: capitalize;
  font-size: 220%;
}

/* line 219, ../compass/sass/aaltosulku.scss */
.cat-main-title {
  margin-bottom: 8%;
  font-size: 155%;
}

/* line 224, ../compass/sass/aaltosulku.scss */
.sub-title {
  margin-bottom: 1%;
  cursor: pointer;
}

/* line 230, ../compass/sass/aaltosulku.scss */
.sub-title-mark {
  margin-right: 1px;
  color: tomato;
  float: left;
}

/* line 245, ../compass/sass/aaltosulku.scss */
.toc-ul {
  padding: 15px 0px 15px 1px;
  background-color: rgba(68, 68, 68, 0.04);
  max-width: 320px;
  overflow: hidden;
}
/* line 251, ../compass/sass/aaltosulku.scss */
.toc-ul li {
  list-style: none;
  padding: 1px;
  text-transform: capitalize;
  margin-bottom: 2px;
}

/* line 267, ../compass/sass/aaltosulku.scss */
.list-group-item {
  color: tomato;
}

/* line 271, ../compass/sass/aaltosulku.scss */
.list-group-item-heading {
  color: tomato;
}
/* line 273, ../compass/sass/aaltosulku.scss */
.list-group-item-heading a {
  font-weight: bold;
  font-size: 115%;
}

/* line 280, ../compass/sass/aaltosulku.scss */
.content-container div:target {
  animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -webkit-animation-duration: 1.26;
  animation-name: in-out;
  -moz-animation-name: in-out;
  -webkit-animation-name: in-out;
}

@-moz-keyframes in-out {
  /* line 291, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@-webkit-keyframes in-out {
  /* line 300, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@keyframes in-out {
  /* line 309, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@-moz-keyframes toc-in-out {
  /* line 321, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 324, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

@-webkit-keyframes toc-in-out {
  /* line 330, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 333, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

@keyframes toc-in-out {
  /* line 339, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 342, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

/* line 349, ../compass/sass/aaltosulku.scss */
.sub-title-mark:before {
  content: "{}";
  font-weight: bold;
}

/* line 356, ../compass/sass/aaltosulku.scss */
.intro {
  background-color: white;
  color: #444444;
  font-size: 125%;
}

/* line 363, ../compass/sass/aaltosulku.scss */
.ruutu-4-tablet:hover {
  border-right: #050000;
  background-color: #ff6d51;
  color: white;
}

/* line 371, ../compass/sass/aaltosulku.scss */
.viimeisimmat {
  color: rgba(68, 68, 68, 0.9);
}
/* line 374, ../compass/sass/aaltosulku.scss */
.viimeisimmat .kuvaus {
  font-size: 80%;
  font-weight: 700;
}
/* line 379, ../compass/sass/aaltosulku.scss */
.viimeisimmat .ruutu-4-tablet {
  min-height: 220px;
}

/* line 384, ../compass/sass/aaltosulku.scss */
.viimeisimmat:hover {
  color: white;
}

/* line 390, ../compass/sass/aaltosulku.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 395, ../compass/sass/aaltosulku.scss */
.clearfix:after {
  clear: both;
}

/* line 399, ../compass/sass/aaltosulku.scss */
.clearfix {
  *zoom: 1;
}

/* line 403, ../compass/sass/aaltosulku.scss */
#pull {
  display: none;
  color: #444444;
  font-size: 18px;
  outline: 0;
  width: 100%;
  font-weight: bolder;
  margin-left: 6%;
}

@media only screen and (max-width: 790px) {
  	/*
  	.toc-title {
  		display:none;
  		height:auto;
  	}
  	.toc-ul {
  		@extend .toc-title;
  		position:relative;
  		margin-left:4%;
  
  		li a{
  			width:100%;
  		}
  	}
  
  	#toc {
  		position:relative;
  	}
  
  	#pull {  
  		display: block;   
  		width: 100%;  
  		position: relative;
  		background-color:tomato;
  		color:white;
  		padding:2px;
  	}  
  
  	.active {
  		background-color:transparent;
  		color:$link;
  
  		padding:0px;
  
  		a {
  			color:$link;
  			padding:0px;
  			text-shadow:none;
  		}
  	}
  
  	.active:after{
  		display:none;
  	}
  
  	.cat-sub-title{
  		font-size:150%;
  	}
  
  */
}
/* line 472, ../compass/sass/aaltosulku.scss */
.laatikko {
  float: left;
  position: relative;
  padding: 15px;
  margin-right: 15px;
  width: 345px;
  height: 225px;
  overflow: hidden;
}

/* line 483, ../compass/sass/aaltosulku.scss */
.laatikko:hover {
  border-right: #050000;
  background-color: #ff6d51;
  color: white;
}

/* line 489, ../compass/sass/aaltosulku.scss */
#scrolltop {
  width: 110px;
  height: 110px;
  bottom: 0;
  right: 0;
  position: fixed;
}

/* line 498, ../compass/sass/aaltosulku.scss */
#scrolltop:hover {
  background-color: rgba(220, 220, 220, 0.4);
  cursor: pointer;
}
