@charset "UTF-8";
@import url(Lindeman.css);
@import url(normalize.css);
@import url(ruutu.css);
@import url(tyyli.css);
/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/
/* line 27, ../compass/sass/aaltosulku.scss */
body {
  font-family: 'Open Sans', sans-serif;
  /**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 35, ../compass/sass/aaltosulku.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
/* line 42, ../compass/sass/aaltosulku.scss */
::selection {
  background: tomato;
  /* Safari */
  color: white;
}

/* line 47, ../compass/sass/aaltosulku.scss */
::-moz-selection {
  background: tomato;
  /* Firefox */
  color: white;
}

/* line 53, ../compass/sass/aaltosulku.scss */
nav {
  text-align: center;
}

/* line 58, ../compass/sass/aaltosulku.scss */
nav ul li {
  display: inline-block;
  text-align: center;
  float: left;
  padding: 2px 5px;
  margin: auto;
}

/* line 70, ../compass/sass/aaltosulku.scss */
nav ul {
  margin: auto;
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom: 1;
  *display: inline;
  float: right;
}

/* line 80, ../compass/sass/aaltosulku.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 86, ../compass/sass/aaltosulku.scss */
.p-footer {
  text-align: left;
  font-size: 70%;
}

/* line 91, ../compass/sass/aaltosulku.scss */
a {
  color: tomato;
}

/* line 96, ../compass/sass/aaltosulku.scss */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  height: auto;
  width: 100%;
  overflow: auto;
  clear: both;
}

/* line 108, ../compass/sass/aaltosulku.scss */
header {
  min-height: 80px;
  background-color: white;
}
/* line 115, ../compass/sass/aaltosulku.scss */
header img {
  vertical-align: bottom;
  padding: 5px;
}
/* line 120, ../compass/sass/aaltosulku.scss */
header a {
  padding: 5px;
  vertical-align: bottom;
}

/* line 131, ../compass/sass/aaltosulku.scss */
.page-content:after {
  content: "";
  display: block;
  height: 200px;
}

/** Ohjeet.html **/
/* line 149, ../compass/sass/aaltosulku.scss */
#toc .toc-title {
  font-size: 90%;
}

/* line 154, ../compass/sass/aaltosulku.scss */
section {
  border: none;
  padding: 0;
}

/*.footer-top {
	margin-top:60%;
	width:100%;
	}*/
/* line 168, ../compass/sass/aaltosulku.scss */
.affix {
  position: fixed;
  top: 5%;
}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
/* line 177, ../compass/sass/aaltosulku.scss */
.active {
  padding-left: 5%;
  background-color: tomato;
  border-radius: 2px 2px 2px 2px;
}
/* line 182, ../compass/sass/aaltosulku.scss */
.active a {
  color: white;
  text-shadow: 0 1px #cd3115;
  padding-right: 3px;
}

/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
/* line 196, ../compass/sass/aaltosulku.scss */
.active:after {
  content: "";
  color: white;
  float: right;
  border-top: 10px solid white;
  border-bottom: 11px solid white;
  border-left: 11px solid transparent;
}

/* line 217, ../compass/sass/aaltosulku.scss */
.cat-sub-title {
  text-transform: capitalize;
  font-size: 220%;
  color: rgba(68, 68, 68, 0.2);
}

/* line 224, ../compass/sass/aaltosulku.scss */
.cat-main-title {
  margin-bottom: 8%;
  font-size: 155%;
}

/* line 229, ../compass/sass/aaltosulku.scss */
.sub-title {
  margin-bottom: 1%;
  cursor: pointer;
}

/* line 235, ../compass/sass/aaltosulku.scss */
.sub-title-mark {
  margin-right: 1px;
  color: tomato;
  float: left;
}

/* line 249, ../compass/sass/aaltosulku.scss */
.toc-title {
  text-transform: capitalize;
  font-size: 220%;
  color: #444444;
}

/* line 257, ../compass/sass/aaltosulku.scss */
.toc-ul {
  padding: 15px 0px 15px 1px;
  overflow: hidden;
}
/* line 265, ../compass/sass/aaltosulku.scss */
.toc-ul li {
  list-style: none;
  padding-left: 10px;
  text-transform: capitalize;
  margin-bottom: 2px;
  font-size: 145%;
}
/* line 272, ../compass/sass/aaltosulku.scss */
.toc-ul li a {
  color: #444444;
}

/* line 282, ../compass/sass/aaltosulku.scss */
.toc-ul li a:hover {
  font-weight: bold;
  color: tomato;
}

/* line 287, ../compass/sass/aaltosulku.scss */
.list-group-item {
  color: tomato;
}

/* line 291, ../compass/sass/aaltosulku.scss */
.list-group-item-heading {
  color: tomato;
}
/* line 293, ../compass/sass/aaltosulku.scss */
.list-group-item-heading a {
  font-weight: bold;
  font-size: 115%;
}

/* line 300, ../compass/sass/aaltosulku.scss */
.content-container div:target {
  animation-duration: 1.6s;
  -moz-animation-duration: 1.6s;
  -webkit-animation-duration: 1.26;
  animation-name: in-out;
  -moz-animation-name: in-out;
  -webkit-animation-name: in-out;
}

@-moz-keyframes in-out {
  /* line 311, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@-webkit-keyframes in-out {
  /* line 320, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@keyframes in-out {
  /* line 329, ../compass/sass/aaltosulku.scss */
  from {
    color: tomato;
  }
}

@-moz-keyframes toc-in-out {
  /* line 341, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 344, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

@-webkit-keyframes toc-in-out {
  /* line 350, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 353, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

@keyframes toc-in-out {
  /* line 359, ../compass/sass/aaltosulku.scss */
  from {
    padding-right: 10px;
  }

  /* line 362, ../compass/sass/aaltosulku.scss */
  to {
    padding-right: 0;
  }
}

/* line 369, ../compass/sass/aaltosulku.scss */
.sub-title-mark:before {
  content: "{}";
  font-weight: bold;
}

/* line 376, ../compass/sass/aaltosulku.scss */
.intro {
  background-color: tomato;
  color: #444444;
  font-size: 125%;
  color: white;
  height: 450px;
}

/*
.ruutu-4-tablet:hover{
	border-right: $decoration-line - 250;
	background-color:$bg + 10;
	color:white;

}
/*

.viimeisimmat {
border:1px solid red;
background-color:red;
color:$lindeman-text-color;


	.kuvaus {

		font-size:80%;
		font-weight:700;
	}

	.ruutu-4-tablet{
		min-height:220px;
	}
}

.viimeisimmat:hover {
	color:white;
}
*/
/* line 420, ../compass/sass/aaltosulku.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 425, ../compass/sass/aaltosulku.scss */
.clearfix:after {
  clear: both;
}

/* line 429, ../compass/sass/aaltosulku.scss */
.clearfix {
  *zoom: 1;
}

/* line 433, ../compass/sass/aaltosulku.scss */
#pull {
  display: none;
  color: #444444;
  font-size: 18px;
  outline: 0;
  width: 100%;
  font-weight: bolder;
  margin-left: 6%;
}

@media only screen and (max-width: 790px) {
  	/*
  	.toc-title {
  		display:none;
  		height:auto;
  	}
  	.toc-ul {
  		@extend .toc-title;
  		position:relative;
  		margin-left:4%;
  
  		li a{
  			width:100%;
  		}
  	}
  
  	#toc {
  		position:relative;
  	}
  
  	#pull {  
  		display: block;   
  		width: 100%;  
  		position: relative;
  		background-color:tomato;
  		color:white;
  		padding:2px;
  	}  
  
  	.active {
  		background-color:transparent;
  		color:$link;
  
  		padding:0px;
  
  		a {
  			color:$link;
  			padding:0px;
  			text-shadow:none;
  		}
  	}
  
  	.active:after{
  c		display:none;
  	}
  
  	.cat-sub-title{
  		font-size:150%;
  	}
  
  	*/
}
/* line 502, ../compass/sass/aaltosulku.scss */
.laatikko {
  background-color: rgba(68, 68, 68, 0.04);
  color: #444444;
  margin-right: 1%;
  margin-bottom: 1%;
  float: left;
  position: relative;
  width: 280px;
  height: 225px;
  overflow: hidden;
  padding: 20px;
  border-top: 4px solid rgba(255, 99, 71, 0.8);
  /*float: left;
  position: relative;
  padding:15px;
  margin-right:15px;
  width:345px;
  height:225px;
  color:$lindeman-text-color;
  overflow:hidden;*/
}

/* line 530, ../compass/sass/aaltosulku.scss */
.laatikko:hover {
  background-color: rgba(255, 99, 71, 0.8);
  border-top: 4px solid rgba(0, 0, 0, 0);
  color: white;
}

/* line 540, ../compass/sass/aaltosulku.scss */
.laatikko-latest {
  background-color: rgba(68, 68, 68, 0.04);
  color: #444444;
  /*float: left;
  position: relative;
  padding:15px;
  margin-right:15px;
  width:345px;
  height:225px;
  color:$lindeman-text-color;
  overflow:hidden;*/
}
/* line 544, ../compass/sass/aaltosulku.scss */
.laatikko-latest .ruutu-4-tablet {
  background-color: rgba(68, 68, 68, 0.04);
  color: #444444;
  margin-right: 1%;
  margin-bottom: 1%;
  border-top: 4px solid rgba(255, 99, 71, 0.8);
  float: left;
  position: relative;
  max-width: 370px;
  height: 225px;
  overflow: hidden;
  padding: 20px;
}

/* line 572, ../compass/sass/aaltosulku.scss */
.laatikko-latest .ruutu-4-tablet:hover {
  background-color: tomato;
  border-top: 4px solid rgba(0, 0, 0, 0);
  color: white;
}

/* line 584, ../compass/sass/aaltosulku.scss */
#scrolltop {
  width: 110px;
  height: 110px;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

/* line 594, ../compass/sass/aaltosulku.scss */
#scrolltop:hover {
  background-color: rgba(220, 220, 220, 0.4);
  cursor: pointer;
}

/* line 600, ../compass/sass/aaltosulku.scss */
.inner-container {
  background-color: white;
}

/* line 612, ../compass/sass/aaltosulku.scss */
.nav li {
  margin-top: -15px;
  padding: 15px;
  position: relative;
}

/* line 622, ../compass/sass/aaltosulku.scss */
.ohjeet-header {
  background-color: tomato;
  color: white;
}
/* line 626, ../compass/sass/aaltosulku.scss */
.ohjeet-header a {
  color: white;
}

/* line 631, ../compass/sass/aaltosulku.scss */
header .aktiivinen, header a:hover {
  color: rgba(68, 68, 68, 0.4);
}

/* line 642, ../compass/sass/aaltosulku.scss */
.push {
  width: 100%;
  height: 150px;
}
