@import 'compass/css3';
@import "Lindeman.css";
@import "normalize.css";
@import "ruutu.css";
@import "tyyli.css";

/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/

$lindeman-text-color: #444;
$decoration-line: tomato;
$bg: tomato;
//$text: rgba(153,23,60,1);
$link:  tomato;
$right: 5px solid rgba(105,165,164,0.7);
$body: rgba(229,234,164,0.2);
$footer: rgba(0,0,0,0.05);

section {
	border-bottom:0px solid rgba(0,0,0,0);
}

body {
	font-family: 'Open Sans', sans-serif;
	//background-color:rgba(240,240,216,1);
	/**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
	margin:0;
	padding:0;
	height:100%;
}
body, html {
	height:100%;
	margin:0;
	padding:0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
::selection {
	background: $bg; /* Safari */
	color:white;

}
::-moz-selection {
	background: $bg; /* Firefox */
	color:white;
}


nav {

	clear:both;
	text-align: center;
	position: relative;
	
	float:right;


}

nav ul li {
	display:inline-block;
	text-align: center;
	float:left;
	padding:0px 10px;
	margin: auto;

	a:hover {
		
	}
}


@media only screen and (max-width : 767.0px) {  

	.header-img {
		
		float:left;
		text-align: center;
		width: 100%;
		display:inline-block;

		a{
			vertical-align: middle;
			display: table;
			margin: 0 auto;
			display: inline-block;
		}
	}


	nav {
		float:left;
		position:relative;
		width:100%;

		ul{
			background-color:red;
			width:230px;
			margin: 0 auto;
			display:block;
		}

		li {
			display: inline-block;
			float:left;
		}

		li:last-child{
			//border-right: 0;
			//outline:0; 
		}

		a{
			display:inline-block;
			width:100%;
			text-align:center;
			text-decoration: none;

			//float:left;
			//margin: 0 auto 20px -5px;
			//text-align: center;		
		}	
	}
}


.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom: 1;
}


h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;

}


.p-footer {
	text-align:left;
	font-size:70%;
}

a {
	color:$bg;
	
}

footer {
	background-color:$footer;
	height:auto;
	width:100%;
	overflow:auto;
	clear:both;

}



/** Ohjeet.html **/


.cat-sub-title {
	text-transform: capitalize;
	font-size:220%;
	color: rgba($lindeman-text-color,0.2);

}

.cat-main-title {
	margin-bottom:8%;
	font-size:155%;
}

.sub-title {
	margin-bottom:1%;
	cursor:pointer;

}

.sub-title-mark{

	margin-right:1px;
	color:$link;
	float:left;

}


.toc-title{
	text-transform: capitalize;
	font-size:220%;
	color: rgba($lindeman-text-color,1);
	
}

.toc-ul {

	padding:15px 0px 15px 1px;
	overflow:hidden;
	
	li {
		list-style: none;
		padding-left:10px;
		text-transform: capitalize;
		margin-bottom:2px;
		font-size: 145%;

		a{

			color: rgba($lindeman-text-color,1);
		}

	}


}


.toc-ul li a:hover{
	font-weight:bold;
	color:$bg;
}

.list-group-item {
	color:$bg;
}

.list-group-item-heading {
	
	a {
		font-weight:bold;
		font-size:115%;
	}
	color:$bg;
}

.content-container div:target{
	animation-duration:1.6s;
	-moz-animation-duration:1.6s;
	-webkit-animation-duration:1.26;
	animation-name:in-out;
	-moz-animation-name:in-out;
	-webkit-animation-name:in-out;
}


@-moz-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@-webkit-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}




@-moz-keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}

@-webkit-keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}

@keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}



.sub-title-mark:before {
	content:"{}";
	font-weight:bold;
}



.intro {
	//background-color:rgba($lindeman-text-color,0.01);
	//background-color:red;
	//background-image:url('/assets/media/somecode2.png');
	//background-repeat:no-repeat;
	//background-attachment:fixed;
	//background-position:center; 
	background-color:$bg;
	font-size:125%;
	color:white;
	height:450px;

	h1, h3 {
		
	}
}


.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom: 1;
}

#pull {
	display: none;  
	color:$lindeman-text-color;
	font-size: 18px;
	outline:0;
	width:100%;
	font-weight: bolder;
	margin-left:6%;


	
}


.laatikko{
	background-color:rgba($lindeman-text-color, 0.04);
	color:$lindeman-text-color;
	margin-right:1%;
	margin-bottom:1%;
	float:left;
	position:relative;
	width:280px;
	height:225px;
	overflow:hidden;
	padding:20px;
	border-top:4px solid rgba($bg,0.8);
}

.laatikko:hover{
	background-color:rgba($bg,0.8);
	border-top:4px solid rgba(0,0,0,0);
	color:white;
}


.laatikko-latest{
	background-color:rgba($lindeman-text-color, 0.04);
	color:$lindeman-text-color;

	.ruutu-4-tablet{
		background-color:rgba($lindeman-text-color, 0.04);
		color:$lindeman-text-color;
		margin-right:1%;
		margin-bottom:1%;
		border-top:4px solid rgba($bg,0.8);
		float:left;
		position:relative;
		max-width:370px;
		height:225px;
		overflow:hidden;
		padding:20px;
	}
}

.laatikko-latest .ruutu-4-tablet:hover{
	background-color:rgba($bg,1);
	border-top:4px solid rgba(0,0,0,0);
	color:white;
}




#scrolltop{

	width:110px;
	height:110px;
	bottom:0;
	right:0;
	position:fixed;
	z-index:1;
}

#scrolltop:hover{
	background-color:rgba(220,220,220,0.4);
	cursor:pointer;
}


.inner-container{
	background-color:rgba(255,255,255,1);
}





.ohjeet-header{
	background-color:$bg;
	color:white;

	a{
		color:white;	 
	}
}

header .aktiivinen	{
	color: rgba($lindeman-text-color,0.4);
}

header a:hover{
	@extend .aktiivinen; 	
}



.push {
	width:100%;
	height:150px;

}