@import 'compass/css3';
@import "Lindeman.css";
@import "normalize.css";
@import "ruutu.css";
@import "tyyli.css";

/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/

$lindeman-text-color: #444;
$decoration-line: tomato;
$bg: tomato;
//$text: rgba(153,23,60,1);
$link:  tomato;
$right: 5px solid rgba(105,165,164,0.7);
$body: rgba(229,234,164,0.2);
$footer: rgba(0,0,0,0.05);

body {
	font-family: 'Open Sans', sans-serif;
	//background-color:rgba(240,240,216,1);
	background-color: white;
	border-top:15px solid $decoration-line;
	/**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
	margin:0;
	padding:0;
	height:100%;
}
body, html {
	height:100%;
	margin:0;
	padding:0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
::selection {
	background: $bg; /* Safari */
	color:white;

}
::-moz-selection {
	background: $bg; /* Firefox */
	color:white;
}


nav {
	text-align: center;

}

nav ul li {
	display:inline-block;
	text-align: center;
	float:left;
	padding:2px 5px;
	margin: auto;

	a:hover {
		
	}
}

nav ul{
	margin:auto;
	display:inline-block;
	margin:0;
	padding:0;
	zoom:1;
	*display:inline;
	float:right;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;

}


.p-footer {
	text-align:left;
	font-size:70%;
}

a {
	color:$bg;
	
}

footer {
	background-color:$footer;
	height:200px;
	width:100%;
	margin-top:-200px;
	clear:both;
	position:relative;

}

header {
	height:100px;
	//background-color:rgba(52, 48, 45,0.1);
	//color:white;

}

.content-container {
	min-height: 100%;
	margin-bottom:-200px;
	
}

.page-content:after{
	content: "";
	display: block;
	height:200px
}





/** Ohjeet.html **/



#toc {
	li a{
	}
	.toc-title {
		font-size: 90%;
	}
}

section {
	border:none;
	margin-bottom:5%;
}

.ruutu-12-tablet {
	padding-bottom:0;
}

//Tällä tehdään tyhjää tilaa ohjeluettelon alle, jotta scrollspy toimii mukavasti
.footer-top {
	margin-top:60%;
	width:100%;
}


.affix {
	position:fixed;
	top:5%;
	

}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
.active {
	padding-left:5%;
	background-color: $bg;
	border-radius:2px 2px 2px 2px;

	a 	{
		color:rgba(255,255,255,1);
		text-shadow: 0 1px $bg - 50;
		padding-right:3px;
	}

}


/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
.active:after{
	content: ""; 
	color:white;
	float:right;

	border-top: 10px solid white;
	border-bottom: 11px solid white; 
	border-left:11px solid transparent; 

}



/** nämä margin-leftit ovat vain tuodakseen sisennysilmettä aliotsikoidihn - voi poistella jos halajaa **/
/** cat-subin ja cat-main-title padding-bottomit ovat vain scrollspyn testaamiseen - voi poistella jos halajaa**/
.cat-sub-toc {
	//margin-left:5.5%;
}
.cat-sub {
	margin-left:1.5%;
	margin-bottom:7%;
	width:85%;
}

.cat-sub-title {
	text-transform: capitalize;
}

.cat-main-title {
	margin-bottom:8%;
	font-size:155%;
}

.sub-title {
	margin-bottom:1%;
	cursor:pointer;

}

.sub-title-mark{

	margin-right:1px;
	color:$link;
	float:left;

}


.toc-ul li {
	list-style: none;
	transition: padding-left 0.5s;
	font-size:90%;
	text-transform: capitalize;
}



.list-group-item {
	color:$bg;
}

.list-group-item-heading {
	
	a {
		font-weight:bold;
		font-size:115%;
	}
	color:$bg;
}

.content-container div:target{
	animation-duration:1.2s;
	-moz-animation-duration:1.2s;
	-webkit-animation-duration:1.2s;
	animation-name:in-out;
	-moz-animation-name:in-out;
	-webkit-animation-name:in-out;
}


@-moz-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@-webkit-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}


.sub-title-mark:before {
	content:"{}";
	font-weight:bold;
}



.intro {
	background-color:white;
	color:$lindeman-text-color;
	font-size:125%;

}

.ruutu-4-tablet:hover{
	border-right: $decoration-line - 250;
	background-color:$bg + 10;
	color:white;

}


.viimeisimmat {
	color:rgba(68,68,68,0.9);

	.kuvaus {
		font-size:80%;
		font-weight:700;
	}

	.ruutu-4-tablet{
		min-height:220px;
	}
}

.viimeisimmat:hover {
	color:white;
}



.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom: 1;
}

#pull {
	display: none;  
	color:$lindeman-text-color;
	font-size: 18px;
	outline:0;
	width:100%;
	font-weight: bolder;
	margin-left:6%;


	
}




@media only screen and (max-width : 790px) {  
	.toc-title {
		display:none;
		height:auto;
	}
	.toc-ul {
		@extend .toc-title;
		position:relative;
		margin-left:4%;

		li a{
			width:100%;
		}
	}

	#toc {
		position:relative;
	}

	#pull {  
		display: block;   
		width: 100%;  
		position: relative;
		background-color:tomato;
		color:white;
		padding:2px;
	}  

	.active {
		background-color:transparent;
		color:$link;
	
		padding:0px;

		a {
			color:$link;
			padding:0px;
			text-shadow:none;
		}
	}

	.active:after{
		display:none;
	}
}  



