@import 'compass/css3';
@import "Lindeman.css";
@import "normalize.css";
@import "ruutu.css";
@import "tyyli.css";

/*
$lindeman-text-color: #444;
$main: rgba(28,20,13,1);
$bg: rgba(183,212,87,1);
$text: grey;
$link: rgba(183,212,87,1);
$right: 5px solid rgba(28,20,13,1);
*/

$lindeman-text-color: #444;
$decoration-line: tomato;
$bg: tomato;
//$text: rgba(153,23,60,1);
$link:  tomato;
$right: 5px solid rgba(105,165,164,0.7);
$body: rgba(229,234,164,0.2);
$footer: rgba(0,0,0,0.05);



body {
	font-family: 'Open Sans', sans-serif;
	//background-color:rgba(240,240,216,1);
	/**seuraavat muutokset tehty: http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/ mukaan **/
	margin:0;
	padding:0;
	height:100%;
}
body, html {
	height:100%;
	margin:0;
	padding:0;
}

/* Tämä on se efekti, joka tulee maalatessa hiirellä sivulla */
::selection {
	background: $bg; /* Safari */
	color:white;

}
::-moz-selection {
	background: $bg; /* Firefox */
	color:white;
}


nav {
	text-align: center;

}

nav ul li {
	display:inline-block;
	text-align: center;
	float:left;
	padding:2px 5px;
	margin: auto;

	a:hover {
		
	}
}

nav ul{
	margin:auto;
	display:inline-block;
	margin:0;
	padding:0;
	zoom:1;
	*display:inline;
	float:right;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;

}


.p-footer {
	text-align:left;
	font-size:70%;
}

a {
	color:$bg;
	
}

footer {
	background-color:$footer;
	height:auto;
	width:100%;
	overflow:auto;
	clear:both;
	margin-top:3.5%;



}

header {
	min-height:80px;
	
	//background-color:$bg;	
//background-color:rgba($lindeman-text-color,0.01);
background-color:white;

img{
	vertical-align:bottom;
	padding:5px;
}

a{	padding:5px;
	vertical-align: bottom;
}
}



.content-container {
	
}

.page-content:after{
	content: "";
	display: block;
	height:200px
}





/** Ohjeet.html **/



#toc {

	li a{
	}
	.toc-title {
		font-size: 90%;
	}
}

section {
	border:none;
	//margin-bottom:5%;
	padding:0;
}


//Tällä tehdään tyhjää tilaa ohjeluettelon alle, jotta scrollspy toimii mukavasti
/*.footer-top {
	margin-top:60%;
	width:100%;
	}*/


	.affix {
		position:fixed;
		top:5%;


	}

/** .active luokka annetaan scrollspy-javascript pluginin ansiosta sis.luetteloitemille sen mukaan, mikä luetteloitemiin
liitoksissa oleva divi on käyttäjän ikkunassa näkyvillä **/
.active {
	padding-left:5%;
	background-color: $bg;
	border-radius:2px 2px 2px 2px;

	a 	{
		color:rgba(255,255,255,1);
		text-shadow: 0 1px $bg - 50;
		padding-right:3px;

		
	}


}


/* .active:after tai :before:n avulla voi laittaa merkkejä tai ihan mitä vain korostaakseen aktiiviseksi tulleen sis.luetteloitemiä 
Isokokoisille listaitemeille se aiheuttaa ikävän rivivaihdon */
.active:after{
	content: ""; 
	color:white;
	float:right;

	border-top: 10px solid white;
	border-bottom: 11px solid white; 
	border-left:11px solid transparent;



}




.cat-sub {
	
	
}

.cat-sub-title {
	text-transform: capitalize;
	font-size:220%;
	color: rgba($lindeman-text-color,0.2);

}

.cat-main-title {
	margin-bottom:8%;
	font-size:155%;
}

.sub-title {
	margin-bottom:1%;
	cursor:pointer;

}

.sub-title-mark{

	margin-right:1px;
	color:$link;
	float:left;

}

.cat-sub-content{


}


.toc-title{
	text-transform: capitalize;
	font-size:220%;
	color: rgba($lindeman-text-color,1);
	
}


.toc-ul {

	//border-top:4px solid rgba($bg,0.8);
	padding:15px 0px 15px 1px;
	//background-color:rgba($lindeman-text-color, 0.04);
	//max-width:320px;
	overflow:hidden;
	
	li {
		list-style: none;
		padding-left:10px;
		text-transform: capitalize;
		margin-bottom:2px;
		font-size: 145%;

		a{
			color: rgba($lindeman-text-color,1);
		}

	}


}


.toc-ul li a:hover{
	font-weight:bold;
	color:$bg;
}

.list-group-item {
	color:$bg;
}

.list-group-item-heading {
	
	a {
		font-weight:bold;
		font-size:115%;
	}
	color:$bg;
}

.content-container div:target{
	animation-duration:1.6s;
	-moz-animation-duration:1.6s;
	-webkit-animation-duration:1.26;
	animation-name:in-out;
	-moz-animation-name:in-out;
	-webkit-animation-name:in-out;
}


@-moz-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@-webkit-keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}

@keyframes in-out {
	from {
		color:$bg;
	}
	to {

	}
}




@-moz-keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}

@-webkit-keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}

@keyframes toc-in-out {
	from {
		padding-right:10px;
	}
	to {
		padding-right:0;
	}
}



.sub-title-mark:before {
	content:"{}";
	font-weight:bold;
}



.intro {
	//background-color:rgba($lindeman-text-color,0.01);
	background-color:$bg;
	color:$lindeman-text-color;
	font-size:125%;
	color:white;
	height:450px;
}

/*
.ruutu-4-tablet:hover{
	border-right: $decoration-line - 250;
	background-color:$bg + 10;
	color:white;

}
/*

.viimeisimmat {
border:1px solid red;
background-color:red;
color:$lindeman-text-color;


	.kuvaus {

		font-size:80%;
		font-weight:700;
	}

	.ruutu-4-tablet{
		min-height:220px;
	}
}

.viimeisimmat:hover {
	color:white;
}
*/





.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear:both;
}

.clearfix {
	*zoom: 1;
}

#pull {
	display: none;  
	color:$lindeman-text-color;
	font-size: 18px;
	outline:0;
	width:100%;
	font-weight: bolder;
	margin-left:6%;


	
}




@media only screen and (max-width : 790px) {  
	/*
	.toc-title {
		display:none;
		height:auto;
	}
	.toc-ul {
		@extend .toc-title;
		position:relative;
		margin-left:4%;

		li a{
			width:100%;
		}
	}

	#toc {
		position:relative;
	}

	#pull {  
		display: block;   
		width: 100%;  
		position: relative;
		background-color:tomato;
		color:white;
		padding:2px;
	}  

	.active {
		background-color:transparent;
		color:$link;

		padding:0px;

		a {
			color:$link;
			padding:0px;
			text-shadow:none;
		}
	}

	.active:after{
c		display:none;
	}

	.cat-sub-title{
		font-size:150%;
	}

	*/
}  

.laatikko{
	background-color:rgba($lindeman-text-color, 0.04);
	color:$lindeman-text-color;
	//float:left;

	margin-right:1%;
	margin-bottom:1%;


	float:left;
	position:relative;
	
	width:280px;
	height:225px;
	overflow:hidden;
	padding:20px;
	border-top:4px solid rgba($bg,0.8);

	/*float: left;
	position: relative;
	padding:15px;
	margin-right:15px;
	width:345px;
	height:225px;
	color:$lindeman-text-color;
	overflow:hidden;*/
}

.laatikko:hover{
	//border-top:4px solid rgba($lindeman-text-color,0.8);
	//background-color: $bg + 10;
	background-color:rgba($bg,0.8);
	border-top:4px solid rgba(0,0,0,0);
	color:white;
	
}


.laatikko-latest{
	background-color:rgba($lindeman-text-color, 0.04);
	color:$lindeman-text-color;
	//float:left;
	.ruutu-4-tablet{
		background-color:rgba($lindeman-text-color, 0.04);
		color:$lindeman-text-color;

		margin-right:1%;
		margin-bottom:1%;

		border-top:4px solid rgba($bg,0.8);
		float:left;
		position:relative;

		max-width:370px;
		height:225px;
		overflow:hidden;
		padding:20px;
	}


	/*float: left;
	position: relative;
	padding:15px;
	margin-right:15px;
	width:345px;
	height:225px;
	color:$lindeman-text-color;
	overflow:hidden;*/
}

.laatikko-latest .ruutu-4-tablet:hover{
	//border-top:4px solid rgba($lindeman-text-color,0.8);
	//background-color: $bg + 10;
	background-color:rgba($bg,1);
	border-top:4px solid rgba(0,0,0,0);
	color:white;
	
}




#scrolltop{
	
	width:110px;
	height:110px;
	bottom:0;
	right:0;
	position:fixed;
	z-index:1;
}

#scrolltop:hover{
	background-color:rgba(220,220,220,0.4);
	cursor:pointer;
}


.inner-container{
	background-color:rgba(255,255,255,1);
	//border:1px dashed tomato;
}


.nav{

	ul{

	}

	li {
		margin-top:-15px;
		padding:15px;
		
		position:relative;
		
	}
}


.ohjeet-header{
	background-color:$bg;
	color:white;

	a{
		color:white;	 
	}
}

header .aktiivinen	{
	//border-bottom:2px solid rgba($lindeman-text-color, 0.04);
	//background-color:	 rgba($lindeman-text-color, 0.04);
	//border-top:2px solid rgba($bg,1);
	color: rgba($lindeman-text-color,0.4);
}

header a:hover{
	@extend .aktiivinen; 	
}

