<!DOCTYPE html>
<html lang="fi">
{% include head.html %}
{% include header.html %}
<body>
	<div class="content-container">
		<div class="rivi">
			<div class="ruutu-12-tablet">
				{{ content }}
			</div>
		</div>
	</div>
	{% include footer.html %}
</body>
<script src="assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="assets/js/affix.js" type="text/javascript"></script>
<script src="assets/js/scrollspy.js" type="text/javascript"></script>
<script src="assets/js/aaltosulku.ohjeet.js" type="text/javascript"></script>
<script src="assets/js/aaltosulku.responsiivinen.menu.js" type="text/javascript"></script>

</html>

